@import url('https://fonts.googleapis.com/css?family=Oswald|Spectral');

body {
  font-family: 'Spectral', 'Source Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, sans-serif;
}

code {
  color: #c7254e;
}

.pagedtable {
  font-family: 'Source Sans', sans-serif;
}